<div class="tile is-ancestor">
    <div class="tile" style="margin-left:30px;margin-right:20px">
        <div class="tile is-4 is-vertical is-parent" >
            <div class="tile is-child box">
                <p class="title">AR</p>
                <p>
                    증강현실 기술로 주변 이벤트를 의미하는 핀이 생성됩니다.
                    <br>AR에서는 이벤트의 태그, 이벤트의 이름, 팀 리더를 포함한 참여자 목록과 간략한 이벤트 정보가 보여지게 됩니다.
                    <br>해당 기능은 안드로이드 혹은 IOS를 구동 중인 기기에서만 작동합니다.
                </p>
            </div>
            <div class="tile is-child box">
                <p class="title">TIME LINE</p>
                <p>
                    이벤트의 활동 내역 혹은 계획, 관심사 그리고 자신의 생각들을 올릴 수 있습니다.
                    <br>홈페이지에서 로그인 후 이용 가능합니다.
                </p>
            </div>
        </div>
        <div class="tile is-parent" >
            <div class="tile is-child box">
                <p class="title">Key differences between SNS and MOIM </p>
                <p>
                    현 세대는 모바일 장치의 성장과 함께 진화했습니다.
                    <br><br> 모바일 장치의 대표격인 스마트폰의 사양이 기하급수적으로 증가하면서 사람들은 스마트폰을 통해 더 많은 작업을 수행하고,
                    <br> 서비스를 소비하게 되었습니다.<br> 하지만, 스마트폰의 발전은 사람들의 삶을 편리하게 해주었으나 역설적이게도 소통의 단절을 유발하기도 했습니다.
                    <br><br> 이러한 현상들이 사회적으로 문제가 되고 있는 만큼, 사람들의 오프라인 활동을 유도 하는 서비스가 요구되고 있어
                    <br>저희 MOIM 앱은 기존 SNS앱과 다르게 오프라인 중심의 소통 플랫폼을 중심으로
                    <br>사람들에게 모임과 활동의 즐거움을 줄 수 있는 방향으로 개발중입니다.
                </p>
            </div>
        </div>
    </div>
</div>