<footer class="footer" style="z-index: 999; height:24px; position : fixed; bottom: 0pt; left: 0pt; ">
    <div class="content has-text-centered">
        <p>
            <strong>MOIM</strong> by <a href="https://teammoim.github.io/">Team MOIM</a>. The source code is licensed
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL 3.0</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
<script>
  window.onscroll = function(){ removeFooter() }
  function removeFooter(){
    var footer = document.getElementsByClassName("footer")[0];
    footer.classList.add("removeSlowly");
    setTimeout(function () { footer.parentNode.removeChild(footer) },2000)
  }
</script>
<style>
  .footer.removeSlowly{
    opacity:0;
    transition:opacity 2s;
  }
</style>