<html>
  <head>
      <title>Event List</title>
  </head>
  <body>
  <% include header %>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
    //map.zoomToMaxExtent();
    var lonLat = new OpenLayers.LonLat( 126.997 ,37.610 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
    var eventLoc1 = new OpenLayers.LonLat(126.99769, 37.609640)
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
    var eventLoc2 = new OpenLayers.LonLat(126.99704, 37.61015)
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
          
    var zoom=18;

    var events = new OpenLayers.Layer.Markers( "Markers" );
    events.addMarker(new OpenLayers.Marker(eventLoc1));
    events.addMarker(new OpenLayers.Marker(eventLoc2));    
    
    // var infobox = new khtml.maplib.overlay.InfoWindow({content: "This is a marker-infobox!"});

    // events.attachEvent( 'click', function() {
    // 	infobox.open(map, this);
    // });

    map.addLayer(events);    
    map.setCenter (lonLat, zoom);
    marker.events.register("click", marker, function() {
  $('footer').hide();
});
    var popup = new OpenLayers.Popup.FramedCloud("Popup", eventLoc1, null, "Event1", null, true);
    var popup2 = new OpenLayers.Popup.FramedCloud("Popup", eventLoc2, null, "Event2", null, true);
    map.addPopup(popup, false);
    map.addPopup(popup2, false);
  </script>
</body></html>