<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form>
    <input type="button" value="회원가입"" onclick="window.location.href='/signup'" />
    <input type="button" value="로그인"" onclick="window.location.href='/login'" />
    <input type="button" value="프로필"" onclick="window.location.href='/profile'" />
    <input type="button" value="타임라인"" onclick="window.location.href='/timeline'" />
    </form> 
  </body>
</html>
