<!DOCTYPE html>
<html>
  <head>
    <title>MOIM offical homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include header %>
  <% include wellcome %>
  <% include body %>
  <% include footer %>
  </body>
</html>
