<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href="/stylesheets/timeline.css" />
  <link rel='stylesheet' media="(min-width:581px)" href="/stylesheets/timeline-large.css" />
  <link rel='stylesheet' media="(max-width:580px)" href="/stylesheets/timeline-small.css" />
  <script src="/scripts/timeline.js"></script>
</head>
<body style="padding:0px;">
  <div class="timeline">
    <div class="timeline-posts">
    </div>
  </div>
</body>
</html>
