<script>
    document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="images/logo.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                홈
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    사용자 관리
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/signup">
                        회원가입
                    </a>
                    <a class="navbar-item" href="/login">
                        로그인
                    </a>
                    <a class="navbar-item" href="/submitLogout" style="visibility:hidden">
                        로그아웃
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/profile">
                        내 프로필 보기
                    </a>
                    <a class="navbar-item" href="/setting">
                        내 정보 업데이트
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/timeline">
                타임라인
            </a>
            <a class="navbar-item" href="/2dmap">
                AR
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="https://teammoim.github.io" class="button">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <strong>팀 홈페이지</strong>
                    </a>
                    <a href="/opensources" class="button">
                        <span class="icon">
                            <i class="fas fa-download"></i>
                        </span>
                        <strong>오픈소스</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
