<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
    <% include header %>

    <div class="tabs is-centered is-boxed is-medium">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fas fa-user-circle " aria-hidden="true"></i></span>
            <span>개요</span>
          </a>
        </li>
        <li>
          <a href="/setting">
            <span class="icon is-small"><i class="fas fa-sliders-h " aria-hidden="true"></i></span>
            <span>설정</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="profile">
      <div class="profile-left">
        <img src="images/logo.png" class="profile-image" />
      </div>
      <div class="profile-right">
        <div class="profile-right-top">
          <span class="profile-name">MOIM</span>
          <div class="profile-right-top-buttons">
            <button class="friend button">Friend</button>
            <button class="follow button">Following</button>
          </div>
        </div>
        <div class="profile-right-mid">
          <div style="padding:0px 20px 0px 0px;font-size:1.3em;width:100%">
            <span class="col3">Posts<span class="post-number gap-10">3</span></span>
            <span class="col3">Friends<span class="friend-number gap-10">5</span></span>
            <span class="col3">Followers<span class="follower-number gap-10">10</span></span>
          </div>
        </div>
        <div class="profile-right-intro">
          Kookmin.univcomputerscience,opensource software
        </div>
      </div>
    </div>
  </body>
</html>
