<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include header %>
  <section class="section">
  <div class="container">
  <h1 class="title">회원가입</h1>
<div class="field">
<p class="control has-icons-left has-icons-right">
  <input class="input" type="email" placeholder="Email">
  <span class="icon is-small is-left">
    <i class="fas fa-envelope"></i>
  </span>
  <span class="icon is-small is-right">
    <i class="fas fa-check"></i>
  </span>
</p>
</div>
<div class="field">
<p class="control has-icons-left">
  <input class="input" type="password" placeholder="Password">
  <span class="icon is-small is-left">
    <i class="fas fa-lock"></i>
  </span>
</p>
</div>
<div class="field">
<p class="control has-icons-left">
  <input class="input" type="password" placeholder="Name">
  <span class="icon is-small is-left">
    <i class="fas fa-user"></i>
  </span>
</p>
</div>
<div class="field">
<p class="control has-icons-left">
  <input class="input" type="password" placeholder="Nick Name">
  <span class="icon is-small is-left">
    <i class="fas fa-user"></i>
  </span>
</p>
</div>
<input class="button" type="submit" value="회원가입 하기">
  </div>
</section>
  </body>
</html>
