<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>여러분의 주변에서 어떤 멋진 일이 일어나고 있는지 살펴보십시오!</p>
  </body>
</html>
