<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #grey {
        background-color:#8690a0;
        height: 100%;
        padding-top: 40px;
      }
      .timeline-container{
        margin-left:100px;
        width:50%;
        margin-bottom:10px;
      }
      .media {
        padding: 6px 10px 6px 10px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0.1px 0.1px 0.2px 0.2px grey;
      }
      img.logo-image{
        border-radius:50%;
        width:40px;
        height:40px;
        margin-top:5px;
      }
      span.middle-dot{
        color:gray;
        font-size:medium;
        padding:0px 4px 0px 4px;
      }
    </style>
    
  </head>
  <body>
    <% include header %>
    <div id="grey">
      <div class="timeline-container">
        <article class="media">
          <figure class="media-left">
            <img class="logo-image" src="https://matthewcarmstrong.files.wordpress.com/2015/10/150616192218-donald-trump-presidential-announcement-supercut-tsr-vo-00000002-large-169.jpg?w=600&h=338" />
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Donald Trump</strong> <small>@donald trump</small><span class="middle-dot">&middot;</span><small>31m</small>
                <br>
                is arlight
              </p>
            </div>
            <hr id="hr-comment" />
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">favorite</i></span>
                  &nbsp;&nbsp;favor
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">mode_comment</i></span>
                  &nbsp;&nbsp;comment
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">share</i> </span>
                  &nbsp;&nbsp;share
                </a>
              </div>
            </nav>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <img class="logo-image" src="images/logo.png" />
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Moim</strong> <small>@moim</small><span class="middle-dot">&middot;</span><small>41m</small>
                <br>
                <img src="/images/logo.png" />
              </p>
            </div>
            <hr id="hr-comment"/>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">favorite</i></span>
                  &nbsp;&nbsp;favor
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">mode_comment</i></span>
                  &nbsp;&nbsp;comment
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">share</i> </span>
                  &nbsp;&nbsp;share
                </a>
              </div>
            </nav>
          </div>
        </article>
        <article class="media">
          <figure class="media-left">
            <img class="logo-image" src="images/logo.png" />
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>testimage1</strong> <small>@testimage</small><span class="middle-dot">&middot;</span><small>3h</small>
                <br />
                What is That!
                <!-- 이 이미지는 저작권이 걸려 있으니 조심해야함-->
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg" />
              </p>
            </div>
            <hr id="hr-comment" />
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">favorite</i></span>
                  &nbsp;&nbsp;favor
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">mode_comment</i></span>
                  &nbsp;&nbsp;comment
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="material-icons">share</i> </span>
                  &nbsp;&nbsp;share
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
    <script>
      //set the initial height of background-color
      var grey = document.getElementById("grey");
      var height = (window.innerHeight-53).toString()+"px";
      grey.style.minHeight = height;
    </script>

  </body>
</html>
