<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href="/stylesheets/timeline.css" />
  <link rel='stylesheet' media="(min-width:581px)" href="/stylesheets/timeline-large.css" />
  <link rel='stylesheet' media="(max-width:580px)" href="/stylesheets/timeline-small.css" />
  <script src="/scripts/timeline.js"></script>
</head>
  <body>
    <% include header %>
    <div class="timeline">
      <div class="timeline-posts">
        <article class="post media">
          <div class="media-content">
            <div class="post-writer">
              <div class="writer-left">
                <img class="writer-image" src="https://matthewcarmstrong.files.wordpress.com/2015/10/150616192218-donald-trump-presidential-announcement-supercut-tsr-vo-00000002-large-169.jpg?w=600&h=338" />
              </div>
              <div class="writer-right">
                <span class="writer">Donald Trump</span> <br />
                <span class="timestamp">@donald trump<span class="middle-dot">&middot;</span><small>31m</small></span>
              </div>
            </div>
            <div class="content">
              <div class="content-text">
                <p style="padding-top:1em">
                  무슨 문제라도?
                </p>
              </div>
              <div class="content-image">
              </div>
            </div>
            <hr id="hr-half" />
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="level material-icons">favorite</i></span>
                  Like
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="level material-icons">mode_comment</i></span>
                  Comment
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="level material-icons">share</i> </span>
                  Share
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
