<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      환영합니다.
    </p>
    <p class="subtitle">
    주변 이벤트를 중계해주고 관련 활동을 포스팅할 수 있는 타임라인이 포함된 증강현실 기반의 소셜 서비스를 지금 로그인하여 즐겨보세요.
    </p>
  </div>
</section>