<% include ../core %>

<body>
  <% include ../navigation %>
  <script>
    function examineLogin() {

      if ($('#pwd').val().length < 8) {
        alert("비밀번호는 8자 이상이어야 합니다!");
        return;
      }

      else if ($('#uid').val().indexOf('@') < 0) {
        alert("이메일 형식이 올바르지 않습니다!");
        return;
      }

      else {
        document.getElementById("loginform").submit();
      }
    }
  </script>


  <section class="section">
    <div class="container">
      <h1 class="title">로그인</h1>

      <form id="loginform" action="/trylogin" method="post">

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" name="email" type="email" placeholder="Email" id='uid'>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" name="password" type="password" placeholder="Password" id='pwd'>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <input id="loginbtn" onclick="examineLogin()" class="button" type="button" value="로그인하기">
      </form>
    </div>
  </section>
  <% include ../footer %>

</body>

</html>
