<% include ../core %>
<body>        
    <% include ../navigation %>
    <section class="hero is-dark">
        <div class="hero-body">
            <p class="title" style="text-align:center">
                OpenSource Libraries
            </p>
        </div>
    </section>
    <% include ../footer %>
</body>
</html>