<% include ../core %>

<body>
    <style>
        .osbox-container {
            display: flex;
            height: 220px;
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 20px;
        }

        .osbox {
            position: relative;
            padding: 5px;
            display: inline-block;
            width: 25% ;
            height: 100%;
            margin: 10px;
            font-size: 15px;
            overflow: scroll;
        }
        .linkbar-left{
            position: absolute; 
            bottom: 5px; 
            width: 50%;
            height: 10%;
            left: 30px; 
            margin-right: 50%; 
            text-align: left;
            font-size: 20px;
        }
        .linkbar-right{
            position: absolute; 
            bottom: 5px; 
            width: 50%;
            height: 10%;
            right: 30px; 
            margin-left: 50%; 
            text-align: right;
            font-size: 18px;
        }
    </style>
    <% include ../navigation %>
    <section class="hero is-dark">
        <div class="hero-body">
            <p class="title" style="text-align:center">
                OpenSource Libraries
            </p>
        </div>
    </section>
    <div class="tile is-ancestor" style="margin:20px">
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >async</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                        Async is a utility module which provides straight-forward, 
                    powerful functions for working with asynchronous JavaScript. 
                </p>
                <a style="display: inline-block;width: 48%;" href=http://caolan.github.io/async>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/caolan/async>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >bluebird</p>
                <p class="content" style="margin: 5px;height: 50%;;text-align: center">
                    Bluebird is a fully featured promise library 
                    with focus on innovative features and performance
                </p>
                <a style="display: inline-block;width: 48%;" href=http://bluebirdjs.com>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/petkaantonov/bluebird>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >body-parser</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    body-parser is Node.js body parsing middleware. 
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/expressjs/body-parser>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >compression</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    compression is Node.js compression middleware.
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/expressjs/compression>github</a>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor" style="margin:20px">
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center">cookie-parser</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    cookie-parser can Parse Cookie header and populate 
                    req.cookies with an object keyed by the cookie names.    
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/expressjs/cookie-parser>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >EJS</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    EJS is Embedded JavaScript templating.
                </p>
                <a style="display: inline-block;width: 48%;" href=https://ejs.co>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/mde/ejs>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >Expressjs</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Fast, unopinionated, minimalist web framework for Node.js
                </p>
                <a style="display: inline-block;width: 48%;" href=https://expressjs.com>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/expressjs/express>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >errorhandler</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    errorhandler is Development-only error handler middleware. 
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/expressjs/errorhandler>github</a>
            </article>
        </div>  
    </div>

    <div class="tile is-ancestor" style="margin:20px">
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center">Firebase</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Firebase is a mobile app development platform 
                    that provides data analysis and database web services for developers.   
                </p>
                <a style="display: inline-block;width: 48%;"href="https://firebase.google.com">site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/firebase>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >request</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    request is Simplified HTTP request client..
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/request/request>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >request-promise</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    The simplified HTTP request client 
                    'request' with Promise support. Powered by Bluebird. 
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/request/request-promise>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center">winston</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    winston is a logger for just about everything.
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/winstonjs/winston>github</a>
            </article>
        </div> 
    </div>

    <div class="tile is-ancestor" style="margin:20px">
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center">typescript</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    A logger for just about everything.
                </p>
                <a style="display: inline-block;width: 48%;" href=https://www.typescriptlang.org>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/Microsoft/TypeScript>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >chai</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Chai is a BDD / TDD assertion library for node and the browser 
                    that can be delightfully paired with any javascript testing.
                </p>
                <a style="display: inline-block;width: 48%;"href=https://www.chaijs.com>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/chaijs/chai>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >concurrently</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Run commands concurrently. 
                    Like `npm run watch-js & npm run watch-less` but better.
                </p>
                <a style="display: inline-block;width: 48%;"href=https://www.npmjs.com/package/concurrently>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/kimmobrunfeldt/concurrently>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >bulma</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Bulma is Modern CSS framework based on Flexbox. 
                </p>
                <a style="display: inline-block;width: 48%;"href=https://bulma.io>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/jgthms/bulma>github</a>
            </article>
        </div>
    </div>

    <div class="tile is-ancestor" style="margin:20px">
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center">jest</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    jest is zero configuration testing platform.
                </p>
                <a style="display: inline-block;width: 48%;" href=https://jestjs.io>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/facebook/jest>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >node-sass</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    Node-sass is a library that provides binding for Node.js to LibSass,
                     the C version of the popular stylesheet preprocessor, Sass.
                </p>
                <a style="display: inline-block;width: 48%;"href=https://www.npmjs.com/package/node-sass>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/sass/node-sass>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >shelljs</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    ShellJS is a portable implementation of Unix shell commands on top of the Node.js API.
                </p>
                <a style="display: inline-block;width: 48%;"href=http://documentup.com/shelljs/shelljs>site</a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/shelljs/shelljs>github</a>
            </article>
        </div>
        <div class="tile is-parent">
            <article style="background-color:#ebeef4" class="tile is-child box"> 
                <p class="title" style="text-align: center" >supertest</p>
                <p class="content" style="margin: 5px;height: 50%;text-align: center">
                    supertest is super-agent driven library for testing node.js HTTP servers using a fluent API. 
                </p>
                <a style="display: inline-block;width: 48%;"></a>
                <a style="display: inline-block;width: 48%;text-align: right;" href=https://github.com/visionmedia/supertest>github</a>
            </article>
        </div>
    </div>
    <% include ../footer %>
</body>

</html>