@media (min-width: 580px) and (max-width: 1000px) {
  .timeline-post {
    width: 570px;
    padding: 0px 5px 0px 8px;
  }
}
@media (min-width: 1001px)  {
  .timeline-post {
    width: 800px;
    padding: 0px 5px 0px 300px;
  }
}
  
