html,body {
  height:100%;
  background-color: #ebeef4;
}
.timeline {
  background-color: #ebeef4;
}

.timeline-posts {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.post {
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0.1px 0.1px 0.2px 0.2px grey;
}


.post-writer {
  width: 100%;
  height: 40px; /*to-do 45px*/
}

.writer-left {
  float: left;
  width: 11%;
}

.writer-right {
  float: left;
  padding-left: 10px;
  width: 88%;
}

span.timestamp {
  color: gray;
}

img.writer-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

span.middle-dot {
  color: gray;
  font-size: medium;
  padding: 0px 4px 0px 4px;
}

.timeline image {
  width: 100%;
}

a.level-item {
  width: auto;
  padding: 0em 1em 0em 1em;
  margin-left:3.8em;
  margin-right:4em;
  color: grey;
  border-radius: 10px;
}

a.level-item:hover {
  background-color: gainsboro;
}

img.content-image {
  padding:unset;
}
i.level {
  font-size: 1.5em;
  margin-right:0.8em;
}
