.profile {
  width: 100%;
  display: block;
  min-height: 190px;
  margin-top: 40px;
  min-width:500px;
}

.profile-left {
  width: 30%;
  height: 190px;
  display: inline-block;
  float: left;
}


.profile-right {
  width: 70%;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  padding-left: 10%;
  padding-top: 18px;
  margin-bottom:20px;
}


.profile-name {
  padding-top: 15px;
  font-size: 2em;
  height: 1.6em;
}

.profile-setting-button {
  outline: solid 0.1px rgb(46, 46, 46);
}


