.profile {
  width: 100%;
  display: block;
  height: 190px;
  margin-top: 40px;
  min-width:500px;
}

.profile-left {
  width: 30%;
  height: 190px;
  display: inline-block;
  float: left;
}
.profile-image {
  border-radius: 50%;
  margin-left: 50%;
  width: 170px;
  padding-top: 10px;
}

@media (max-width:800px) {
  .profile-image {
    margin-left: unset;
  }
}

.profile-right {
  width: 70%;
  height: 190px;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  padding-left: 10%;
  padding-top: 18px;
}


.profile-name {
  padding-top: 15px;
  font-size: 2em;
  height: 1.6em;
}

.profile-setting-button {
  outline: solid 0.1px rgb(46, 46, 46);
}
