html, body {
  height: 100%;
  background-color: #ebeef4;
}
.timeline {
  background-color: #ebeef4;
}
.media + .media {
  padding:6px;
}
.timeline {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height:100%;
}

.timeline-posts {
  float: left;
  display: inline-block;
}
.timeline-profile {
  float: left;
  display: inline-block;
}
.timeline-friends {
  float: left;
  display: inline-block;
  height:100%
}
// timeline-profile
.profile-list {
  margin-left: unset;
  margin-left: 150px;
  width: 200px;
  border: 0.1px solid black;
  background-color: white;
}

.profile-first {
  width: 100%;
  height: 200px;
}

.profile-image {
  width: 90%;
  margin-left: 10px;
  border-radius: 50%;
  cursor:pointer;
}

.profile-second {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
}

.profile-third {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 0.9em;
}
//timeline-post
.post {
  border-radius: 5px;
  background-color: white;
  outline:0.5px solid black;
}
.post + .post {
  margin-top:10px;
}
.write-post-left {
  width: 60px;
  min-height: 50px;
  float: left;
  padding: 6px 10px 5px 10px;
  display:inline-block;
}
.write-post-right {
  width: 82%;
  float: left;
  display: inline-block;
  padding-top: 15px;
}
.write-post-textarea{
  border-radius:5px;
  min-height:60px;
  overflow-y:hidden;
  padding:0.4em 0.2em 0em 0.2em;
  width:100%;
}
.write-post-textarea:focus{
  outline:none;
}
.write-post-button{
  width:50px;
  height:30px;
  margin-left:84%;
  margin-top:6px;
  background-color:#efeef4;
  border-radius:10px;
  border:0.5px solid gray;
}

.write-post-button:focus{
  outline:none;
}
.write-post-button:hover{
  background-color:#e5e4eb;
}

.post-writer {
  width: 100%;
  height:60px;
}

.writer-left {
  float: left;
  width: 60px;
  padding:6px 10px 5px 10px;
}

.writer-right {
  float: left;
  padding-left: 10px;
  padding-top: 15px;
  width: 60%;
  font-size:1.2em;
}
.writer-follow{
  float:right;
  width:10%;
  margin-right:30px;
  margin-top:12px;
}
.follow-button {
  border-radius: unset;
  background-color: #e9e9e9;
  border: 0.5px black solid;
  width: 80px;
  height:25px;
  text-align: center;
  border-radius:10px;
}
.follow-button:hover{
  background-color:gainsboro;
}
.follow-button:focus{
  outline:none;
}
.writer {
  margin-left:2px;
  cursor:pointer;
}
.writer:hover {
  text-decoration:underline;
}

span.timestamp {
  color: gray;
  font-size:0.7em;
}

img.writer-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  cursor:pointer;
}
img.write-writer-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

span.middle-dot {
  color: gray;
  font-size: medium;
  padding: 0px 4px 0px 4px;
}

.timeline image {
  width: 100%;
}

.content-image img {
  margin-top: 10px;
}

/* bulma css */
a.level-item { 
  width: auto;
  padding: 0.3em 1em 0.3em 1em;
  color: grey;
  border-radius: 10px;
}

a.level-item:hover {
  background-color: gainsboro;
}

.content-text {
  padding: 6px 10px 6px 10px;
}


/*bulma css */
i.level {
  font-size: 1.5em;
  margin-right:0.8em;
}


.comments-box {
  background-color:#f6f6f6;
  white-space:normal;
  word-break:break-all;
  padding-bottom:5px;
}
.comment {
  width: 85%;
  margin-left: 5%;
  margin-right:10%;
  padding-bottom:4px;
  min-height: 50px;
  align-items: unset;
  display: block;
}
.comment-writer {
  width:100%;
  height:32px;
  font-size:1.2em;
  font-weight:700;
}
.comment-writer-left{
  float:left;
  width:11%;
  height:32px;
  display:inline-block;
}
.comment-writer-right{
  float:left;
  width:88%;
  height:32px;
  display:inline-block;
  padding-top:5px; /*there is no timestamp at comment*/
}
.commentWriter{
  cursor:pointer;
}
.commentWriter:hover{
  text-decoration:underline;
}
.comment-writer-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  cursor:pointer;
}
.comment-write-writer-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.comment-textbox{
  margin-left:11%;
  font-size:1em;
}
.media + .media {
  padding-top:11px;
  padding-left:unset;
}

.write-comment-left{
  float:left;
  width:10%;
  display:inline-block;
}

.write-comment-right {
  float: left;
  width: 90%;
  display: inline-block;
}
.comment-textarea{
  width:100%;
  height:40px;
}

//timeline - friends list

.friends {
  width: 200px;
  height: 100%;
  border: 0.1px solid black;
  background-color: lightgray;
  display: inline-block;
  margin-left: 10px;
}

.friend {
  width: 100%;
  height: 50px;
  display: inline-block;
  cursor:pointer;
}

.friend:hover {
  border-top: 0.5px solid #c5c3c3;
  border: 0.1px solid black;
  border-bottom: none;
  background-color: #cecdcd;
}

.friend + .friend:hover {
  margin-top: unset;
  margin-bottom: unset;
  border-top: none;
}

.friend-left {
  width: 30%;
  height: 50px;
  display: inline-block;
  float: left;
}

.friend-image {
  width: 70%;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 3px;
}

.friend-right {
  width: 60%;
  font-size: 1.3em;
  display: inline-block;
  padding: 1px;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
}



