<% include ../core %>

<body style="padding:0px">
    <link rel='stylesheet' media="(min-width:581px)" href="/css/timeline-large.css" />
    <link rel='stylesheet' media="(max-width:580px)" href="/css/timeline-small.css" />
    <script src="/js/lib/timeline.js"></script>
    <% include ../navigation %>
    <div class="timeline">
        <div class="timeline-profile">
        </div>
        <div class="timeline-posts">
        </div>
        <div class="timeline-friends">
        </div>
    </div>
</body>

</html>