<% include ../core %>

<button class="button is-medium is-dark" onclick="popUpEvent()" style="position:fixed;left:15px;bottom:150px;z-index:999;">new!</button>
<div class="field has-addons" style="position:fixed;right:0px;bottom:130px;z-index:999">
    <button onclick="window.location.href='../map'" class="button is-medium is-dark is-outlined">3D</button>
    <button class="button is-medium is-dark">2D</button>
</div>

<body>
    <script type="text/javascript" src="/js/lib/leaflet.js"></script>
    <% include ../navigation %>
    <div id="map" style="width: 100%; height: 80%; z-index: 1;"></div>
    <script>
        //지도 영역 'map' DOM Element를 mymap 변수로 정의
        var mymap = L.map('map').setView([37.610, 126.997], 19);
        var json = <%- JSON.stringify(marks); %>
        // console.log(json);
        Object.keys(json).forEach((k) => {
            console.log("TEST K");
            console.log(json[k]);
        });
        //Open Steet Map 서버 주소 입력
        L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(mymap);

        var myIcon = L.icon({
            iconUrl: "/images/red_marker.png"
        });
        function addMarker(position) {

            // 마커를 생성합니다
            var marker = new L.marker({
                position: position
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 생성된 마커를 배열에 추가합니다
            markers.push(marker);
        }
        function showtext(text) {
                alert(text);
        }
        for (var i = 0; i < json.length; i++) {
            // Current object
            var obj = json[i];
            var marker = L.marker([obj.latitude, obj.longitude], { icon: myIcon }).bindPopup("이름 : " + obj.title + '<br></br>' + '<a onclick=showtext(obj.text)>더보기</a>').addTo(mymap);
            //var layer = L.Polygon(latlngs).bindPopup('Hi There!').addTo(map);
            // function onMapClick(e) {
            //     popup
            //         .setLatLng(e.latlng)
            //         .setContent(e.latlng.toString() + '<a href="http://www.google.com">Visit Google</a>"')
            //         .openOn(map);
            // }
            marker.on('mousein', function (e) { //마커 마우스 이벤트
                marker.openPopup();
            });
            marker.on('mouseleave', function (e) {
                marker.closePopup();
            })
        }
        mymap.on('click', onMapClick);

        //지도를 클릭하면 해당 지점의 좌표값 메시지 표시

        var iscreatable = false;
        var newname;
        var newcontent;
        function CreateEvent(name, content) {
            alert(name + "과" + content);
            newname = name;
            newcontent = content;
            iscreatable = true;
        }
        function onMapClick(e) {
            //alert("클릭한 좌표값: " + e.latlng.lat + e.latlng.lng);
            if (iscreatable) {
                var newmarker = L.marker([e.latlng.lat, e.latlng.lng], { icon: myIcon }).bindPopup("이름 : " + newname + '<br></br>' + '<a onclick=showtext()>더보기</a>').addTo(mymap);
                function showtext() {
                    alert(newcontent);
                }
                marker.on('mousein', function (e) { //마커 마우스 이벤트
                    newmarker.openPopup();
                });
                marker.on('mouseleave', function (e) {
                    newmarker.closePopup();
                })
                iscreatable = false;
            }
        }
        // function onMapClick(e) {
        //     //alert("클릭한 좌표값: " + e.latlng.lat + e.latlng.lng);
        //     if (iscreatable){
        //         var newmarker = L.marker([e.latlng.lat, e.latlng.lng], { icon: myIcon }).bindPopup("이름 : " + name + '<br></br>' + '<a onclick=showtext()>더보기</a>').addTo(mymap);

        //         iscreatable = false;
        //     }
        // }



        var ispopup = false;
        function popUpEvent() {
            if (ispopup == true) {
                document.body.removeChild(document.getElementById("popup"));
                ispopup = false;
                return;
            }

            ispopup = true;
            var popup = document.createElement("div");
            popup.id = "popup"
            popup.className = "container"
            popup.style = "position:fixed;left:40%;right:40%;top:15%;z-index:10; width:300px";
            popup.innerHTML = '\
        <div style="width:100%;height:70%;text-align:center;padding:30px;background-color:white;border-radius:0.4em;border:1px black solid">\
          <div style="width:100%;height:20px;padding-top:5px;padding-bottom:20px">\
            Event name\
          </div>\
          <input type="text" style="width:100%;" id="ename" class="input" >\
            <div style="width:100%;height:20px;padding-top:10px;padding-bottom:20px">\
              Event contents\
            </div>\
            <textarea style="width:100%;margin-bottom:20px" id="esub" class="textarea"></textarea>\
            <button id="createButton" class="button" >Create</button>\
             <button id="cancelButton" class ="button">Cancel</button> \
             </div>'
            document.body.appendChild(popup);
            var createBtn = document.getElementById("createButton");
            createBtn.onclick = function () {
                var Ename = document.getElementById("ename").value;
                var Esub = document.getElementById("esub").value;
                CreateEvent(Ename, Esub);
                ispopup = false;
                document.body.removeChild(popup);
            }
            var cancelBtn = document.getElementById("cancelButton");
            cancelBtn.onclick = function () {
                ispopup = false;
                document.body.removeChild(document.getElementById("popup"));
            }


        }

    </script>
    <% include ../footer %>
</body>

</html>
