<% include ../core %>

<body>
    <link href="https://cdn.osmbuildings.org/4.0.1/OSMBuildings.css" rel="stylesheet">
    <script src="https://cdn.osmbuildings.org/4.0.1/OSMBuildings.js"></script>
    <% include ../navigation %>
    <div id="map"></div>
    <script>
        var json = [{"id":48,"title":"Helgelandskysten","latitude": "37.609640", "longitude": "126.99769"},{"id":46,"title":"Tysfjord","latitude": "37.609640", "longitude": "126.99369"},{"id":44,"title":"Sledehunds-ekspedisjon","latitude": "37.607640", "longitude": "126.99769"},{"id":43,"title":"Amundsens sydpolferd","latitude": "37.611640", "longitude": "126.99769"},{"id":39,"title":"Vikingtokt","latitude": "37.609640", "longitude": "126.99969"},{"id":6,"title":"Tungtvann- sabotasjen","latitude": "37.610740", "longitude": "126.99889"}];
        var osmb = new OSMBuildings({
            container: 'map',
            position: {
                latitude: 37.610,
                longitude: 126.997
            },
            tilt: 30,
            zoom: 19,
            minZoom: 15,
            maxZoom: 20,
        });
        function formatJSON(json) {
            var html = '';
            for (var key in json) {
            html += '<em>'+ key +'</em> '+ json[key] +'<br>';
            }
            return html;
        }

        for(var i = 0; i < json.length; i++) {
    
            // Current object
            var obj = json[i];
            var pos = {latitude: obj.latitude, longitude: obj.longitude, altitude: 30};
            osmb.addMarker(pos, obj.title, {color: 'red'});
        }

        

        osmb.addMapTiles(
            'https://{s}.tiles.mapbox.com/v3/osmbuildings.kbpalbpk/{z}/{x}/{y}.png', {
                attribution: '© Data <a href="http://openstreetmap.org/copyright/">OpenStreetMap</a> · © Map <a href="http://mapbox.com">Mapbox</a>'
            }
        );

        osmb.addGeoJSONTiles('http://{s}.data.osmbuildings.org/0.2/anonymous/tile/{z}/{x}/{y}.json');
    </script>
    <% include ../footer %>
</body>

</html>