<% include ../core %>

<body>
    <link href="https://cdn.osmbuildings.org/4.0.1/OSMBuildings.css" rel="stylesheet">
    <script src="https://cdn.osmbuildings.org/4.0.1/OSMBuildings.js"></script>
    <% include ../navigation %>
    <div id="map"></div>
    <script>
        var osmb = new OSMBuildings({
            container: 'map',
            position: {
                latitude: 37.56846,
                longitude: 126.97557
            },
            tilt: 30,
            zoom: 16,
            minZoom: 15,
            maxZoom: 20,
        });

        osmb.addMapTiles(
            'https://{s}.tiles.mapbox.com/v3/osmbuildings.kbpalbpk/{z}/{x}/{y}.png', {
                attribution: '© Data <a href="http://openstreetmap.org/copyright/">OpenStreetMap</a> · © Map <a href="http://mapbox.com">Mapbox</a>'
            }
        );

        osmb.addGeoJSONTiles('http://{s}.data.osmbuildings.org/0.2/anonymous/tile/{z}/{x}/{y}.json');
    </script>
    <% include ../footer %>
</body>

</html>